body{
    background: url("../img/rojo.jpg");
    background-attachment: fixed;
    }
    
#logo{    
    background: rgb(245, 13, 83);    
}

#menu ul li:hover{
    background: rgb(245, 13, 83);
}

.button-more{   
    background: rgb(245, 13, 83);   
    }
