*{
margin: 0px;
padding: 0px;
}

.clearfix{
float: none;
clear: both;
}

#global{
width: 65%;
margin: 0px auto;
margin-top: 30px;
padding:30px;
background: white;
box-shadow: 0px 0px 2px gray;
}

#logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
}
  
#menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(61, 79, 85);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

 
#menu ul{
    line-height: 46px;
    list-style: none;   
}

#menu ul li{
    height: 46px;
    display: inline-block;
}

#menu a{
    display:block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts{
margin-top: 30px;
width: 60%;
font-family: Cambria, 'Arial Narrow', Arial, sans-serif;
float: left;
}

.post h2{
font-size: 30px;
color: rgb(61, 79, 85);
}

.post .date{
color: gray;
margin-top: 5px;
}

.post p{
margin-top: 10px;
margin-bottom: 20px;
line-height: 20px;
text-align: justify;
}

.button-more{
display: block;
width: 70px;
padding: 15px;
margin-bottom: 20px;
background: rgb(19, 139, 103);
color: white;
text-decoration: none;
font-family: 'Arial Narrow Bold', sans-serif;
font-size: 20px;
text-align: center;
line-height: 10px;
float: left;
}

#sidebar{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 30%;
float: right;
}

#sidebar h4{
    margin-top: 20PX;
    margin-bottom: 20PX;
    text-align: center;
    background: url(../img/lines.png) ;
    line-height: 10px;
}

#sidebar h4 span{
    padding: 5px;    
    background: white;
    line-height: 10px;
    }
  

    #sidebar img{
        width: 100%;
    }

    #sidebar p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: justify;
        float: left;
        background: white;
    }

    form input[type="text"],
    form input[type="number"],
    form input[type="password"],
    form input[type="email"]{
        padding: 5px;
        border-radius: 2px;
        border: 1px solid gray;
        width: 80%;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    form button{       
       float: left;
        background: gray;
        padding: 10px;
        border: 1px solid black;
        cursor:pointer;
    }
footer{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 47px;
    background: rgb(51, 51, 51,0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

.bx-wrapper,.bx-viewport{
height: 250px !important;
}

#selector-theme{
position: fixed;
top: 40%;
background: rgba(51,51,51, 0.5);
width: 50px;
height: 100px;
}

#to-green,#to-red,#to-blue{
width: 25px;
height: 25px;
margin-top: 10px;
margin-bottom: 5px;
border: 1px solid gray;
margin: 5px auto;
cursor: pointer;
}

#to-green{
    background: rgb(19, 139, 103);
}

#to-red{
    background: rgb(245, 13, 83);
}

#to-blue{
    background: rgb(12, 206, 231);
}

#subir{
text-decoration: none;
float: right;
color: white;
}

#accordion{
width: 50%;
margin-top: 40px;
float: left;
}

#reloj{
width: 30%;
font-family: fantasy;
font-size: 30px;
color: rgb(27, 27, 100);
border: 2px dashed;
margin-left: 100px;
margin-top: 100px;
float: left;
}

#contacto{
width: 500px;
float: left;
margin-left: 100px;
margin-top: 50px;
}

#input_name,
#input_lastName,
#input_edad,
#input_email{
    width: 200px;
}

.form-error{
    color: white;
    background: rgb(240, 73, 54);
    border: 1px solid red;
    width: 500px;
    height: 200px;
    margin-left: 20px;
    margin-top: 80px;
    }