*{
margin: 0px;
padding: 0px;
}

.clearfix{
float: none;
clear: both;
}

body{
background: url("../img/hojas.jpg");
background-attachment: fixed;
}

#global{
width: 65%;
margin: 0px auto;
margin-top: 30px;
padding:30px;
background: white;
box-shadow: 0px 0px 2px gray;
}

#logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px;
    background: rgb(19, 139, 103);
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
}
  
#menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(61, 79, 85);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

 
#menu ul{
    line-height: 46px;
    list-style: none;   
}

#menu ul li{
    height: 46px;
    display: inline-block;
}

#menu ul li:hover{
    background: rgb(19, 139, 103);
}

#menu a{
    display:block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts{
margin-top: 30px;
width: 60%;
font-family: Cambria, 'Arial Narrow', Arial, sans-serif;
float: left;
}

.post h2{
font-size: 30px;
color: rgb(61, 79, 85);
}

.post .date{
color: gray;
margin-top: 5px;
}

.post p{
margin-top: 10px;
margin-bottom: 20px;
line-height: 20px;
text-align: justify;
}

.button-more{
display: block;
width: 70px;
padding: 15px;
margin-bottom: 20px;
background: rgb(19, 139, 103);
color: white;
text-decoration: none;
font-family: 'Arial Narrow Bold', sans-serif;
font-size: 20px;
text-align: center;
line-height: 10px;
float: left;
}

#sidebar{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 30%;
float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: gray;
    }

    #sidebar img{
        width: 100%;
    }

    #sidebar p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: justify;
        float: left;
    }

    form input[type="text"],
    form input[type="password"],
    form input[type="email"]{
        padding: 5px;
        border-radius: 2px;
        border: 1px solid gray;
        width: 80%;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    form button{
       
        background: gray;
        padding: 10px;
        border: 1px solid black;
        cursor:pointer;

    }